@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --color-claro: #fff;
    --color-oscuro: #000;
    --color-principal: #5e8fb4;  /*Colores y tipografía principales*/
    --color-secundario: #db434c;
    --fuente-principal:"Work Sans", sans-serifs;
}
*{
    box-sizing: border-box;
}
body,html{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--color-claro);
    font-family: var(--fuente-principal);
}
.section-title{
    font-size: 40px;
    color: var(--color-secundario);
    text-transform: uppercase;
    text-align: center;
}

/*HEADER*/
header {
    position: fixed;
    z-index: 999;
    left: 50%;
    transform: translate(-50%, 0); /* Ajusta posición inicial */
    margin: 50px auto 0; /* Elimina margen superior extra */
    transition: transform 0.3s ease; /* Cambia a transform */
    background-color: var(--color-claro);
    display: flex;
    align-items: center;
    height: 7vh;
    padding-left: 2rem;
    width: 100%;
}

/* Clase para ocultar el header al hacer scroll */
header.hide {
    transform: translate(-50%, -245%); /* Oculta el header hacia arriba */
}

nav{
    width: 80vw;
}
nav a{
    color:var(--color-principal);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
.contenedor-logo{
    width: 7vw;
}
.logo{
    width: 100%;
}
.nav__lista{
    display: flex;
    justify-content: space-around;
}
.nav__lista li{
    list-style: none;
}

.layout1, .layout2,.layout3{
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--color-claro);
}

/*LAYOUT 1: Imagen de fondo que ocupa toda la pantalla*/
.layout1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.l1__title{
    font-size: 53px;
    text-align: center;
    margin-bottom: 0;
}
.l1__caption{
    font-size: 24px;
    margin-top: 10px;
    text-align: center;
}
/*LAYOUT 2: Imagen de fondo con un grid de dos columnas*/
.layout2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
.layout2 > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.texto-medio-grande{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}
.texto-medio-grande span{
    display: block;
    margin-bottom: 20px;
}
.texto-medio{
   font-size: 60px;
   font-weight: bold;
}
.contenedor-de-texto{
    width: 100%;
    max-width: 500px;
    font-size: 20px;
}
/*LAYOUT 3: Pantalla completa con un grid de tres columnas */
.layout3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.layout3 > div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.--l390vh{
    height: 90vh;
}

/*FONDOS*/
.--imagen-cemento-c-azul{
    background-image: url("../img/fondos/cemento-cruz-azul.png");
}
.--imagen-constructores{
    background-image: url("../img/fondos/constructores.png");
}
.--imagen-paredes-concreto{
    background-image: url("../img/fondos/paredes-concreto.png");
}
.--imagen-bano-aesteri{
    background-image: url("../img/bano-aesteri.png");
}
.--grua{
    background-image: url("../img/fondos/grua.jpg");
}
/*BOTONES*/
.boton-accion{
    color: var(--color-claro);
    background-color: transparent;
    border: solid 1px var(--color-claro);
    padding: 15px 60px;
    border-radius: 100vh;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
}
.--accion-secundario{
    border: solid 1px var(--color-secundario);
    color: var(--color-secundario);
}
.boton-envio{
    color: var(--color-claro);
    background-color: transparent;
    border: solid 1px var(--color-claro);
    padding: 10px 30px;
    border-radius: 100vh;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    cursor: pointer;
}
.asubbold{
    font-weight: bold;
    text-decoration: underline;
    color: var(--color-claro);
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
}
/*MODIFICADORES GENERALES*/
.--upper{
    text-transform: uppercase;
}
.--mbottom60{
    margin-bottom: 60px;
}
.--bold{
    font-weight: bold;
}
.--float-right{
    float: right;
}
.--resalte-secundario{
    font-weight: bold;
    color: var(--color-secundario);
}

/*LANDING PAGE */

/*#sucursales*/
.contenedor-imagen-sucursales{
    width: 100%;
    height: 80vh;
}

.imagen-sucursales{
    width: 100%;
}
.caption-sucursales{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*servicios*/
.servicio-landing{
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--color-claro);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.servicio-aceros{
    background-image: url("../img/perfiles.png");
}
.servicio-azulejos{
    background-image: url("../img/azulejos.png");
}
.servicio-pavimentaciones{
    background-image: url("../img/pavimentaciones.png");
}
/*clientes*/
#clientes{
    color: var(--color-oscuro) !important;
}
.contenedor-cliente{
    width: 300px !important;
}
.contenedor-cliente img{
    width: 100%;
}
.cliente{
    color: var(--color-oscuro);
    text-align: center;
    padding: 20px;
    font-size: 20px;
    min-height: 100vh;
}
/*contacto*/
.texto-contacto{
    text-transform: uppercase;
    font-size: 30px;
    padding: 40px;
}
.--form-landing{
    width: 100%;
    padding: 50px;
}
.--form-landing input,.--form-landing textarea{
    background-color: transparent;
    border: solid 2px var(--color-claro);
    width: 80%;
    padding: 10px;
    font-size: 15px;
    color: var(--color-claro);
    margin-bottom: 20px;
    font-family: var(--fuente-principal);
}
.--form-landing input::placeholder, .--form-landing textarea::placeholder {
    color: rgba(255, 255, 255,.48);
    text-transform: uppercase;
}
.--form-landing textarea{
    height: 300px;
}

/*RESPONSIVIDAD*/
@media screen and (max-width:767px) {
    .layout2,.layout3{
        grid-template-columns: 1fr;
        min-height: 100vh;
        height: unset;
    }
    .servicio-aceros,.servicio-azulejos,.servicio-pavimentaciones{
        height: 100vh !important;
    }
    .cliente{
        min-height: 70vh !important;
    }
    .imagen-sucursales{
        height: 100%;
        object-fit: cover;
    }
    .boton-accion{
        text-align: center;
    }
    .--form-landing input,.--form-landing textarea{
        width: 100%;
    }
    #experiencia{
        padding: 10px;
    }
}

/* Cards para los produtos  PRUEBA*/ 
.grid4x4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 100px;
}
.productos-contenedor-principal{
    
}
.card p {
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    color: #666;
  }
  
  .card p.small {
    font-size: 14px;
  }
  
  .go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #00838d;
    border-radius: 0 4px 0 32px;
  }
  
  .go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
  }
  
  .card1 {
    display: block;
    position: relative;
    max-width: 262px;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
  }
  
  .card1:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #00838d;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }
  
  .card1:hover:before {
    transform: scale(21);
  }
  
  .card1:hover p {
    transition: all 0.3s ease-out;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .card1:hover h3 {
    transition: all 0.3s ease-out;
    color: #fff;
  }
  
  .card2 {
    display: block;
    top: 0px;
    position: relative;
    max-width: 262px;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    border: 1px solid #f2f8f9;
  }
  
  .card2:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #ccc;
    background-color: white;
  }
  
  .card2:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #00838d;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
  }
  
  .card2:hover:before {
    transform: scale(2.15);
  }
  
  .card3 {
    display: block;
    top: 0px;
    position: relative;
    max-width: 262px;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    overflow: hidden;
    border: 1px solid #f2f8f9;
  }
  
  .card3 .go-corner {
    opacity: 0.7;
  }
  
  .card3:hover {
    border: 1px solid #00838d;
    box-shadow: 0px 0px 999px 999px rgba(255, 255, 255, 0.5);
    z-index: 500;
  }
  
  .card3:hover p {
    color: #00838d;
  }
  
  .card3:hover .go-corner {
    transition: opactiy 0.3s linear;
    opacity: 1;
  }
  
  .card4 {
    display: block;
    top: 0px;
    position: relative;
    max-width: 262px;
    background-color: #fff;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    overflow: hidden;
    border: 1px solid #ccc;
  }
  
  .card4 .go-corner {
    background-color: #00838d;
    height: 100%;
    width: 16px;
    padding-right: 9px;
    border-radius: 0;
    transform: skew(6deg);
    margin-right: -36px;
    align-items: start;
    background-image: linear-gradient(-45deg, #8f479a 1%, #dc2a74 100%);
  }
  
  .card4 .go-arrow {
    transform: skew(-6deg);
    margin-left: -2px;
    margin-top: 9px;
    opacity: 0;
  }
  
  .card4:hover {
    border: 1px solid #cd3d73;
  }
  
  .card4 h3 {
    margin-top: 8px;
  }
  
  .card4:hover .go-corner {
    margin-right: -12px;
  }
  
  .card4:hover .go-arrow {
    opacity: 1;
  }